/* body{
    background-color: #fff0b3;
}

header{
    height: 300px;
}

h1{
    text-align: center;
    font-size: 36px;
    color: blue;
    padding-top: 10%;
}

section{
    background-color: aqua;
    margin-left: 25%;
    height: 200px;
    width: 50%;
}

button{
    margin-top: 13%;
    margin-left: 8%;
} */